{% extends "admin/base_site.html" %}

<!-- LOADING -->
{% load i18n grp_tags log %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
{% endblock %}

<!-- COLTYPE/BODYCLASS-- >
{% block bodyclass %}dashboard{% endblock %}
{% block content-class %}content-grid{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li class="active">{% trans "Home" %}</li>
    </ul>
{% endblock %}
{% block content_title %}
    {% if title %}
        <header><h1>{{ title }}</h1></header>
    {% endif %}
{% endblock %}

<!-- CONTENT -->
{% block content %}

<div class="row-fluid">
    <div class="span6">
        {% for app in app_list %}
        <table id="app_{{ app.name|lower }}" class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th colspan="2"><h3><a href="{{ app.app_url }}" class="grp-section">{% trans app.name %}</a></h3></th>
                </tr>
            </thead>
            <tbody>
                {% for model in app.models %}
                <tr>
                    <td>
                        {% if model.perms.change %}
                        <a href="{{ model.admin_url }}"><strong>{{ model.name }}</strong></a>
                        {% else %}
                        <span><strong>{{ model.name }}</strong></span>
                        {% endif %}
                        {% if model.perms.add or model.perms.change %}
                        <div class="btn-group pull-right">
                            {% if model.perms.add %}<a href="{{ model.admin_url }}add/" class="btn">{% trans "Add" %}</a>{% endif %}
                            {% if model.perms.change %}<a href="{{ model.admin_url }}" class="btn">{% trans "Change" %}</a>{% endif %}
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% empty %}
        <p>{% trans "You don´t have permission to edit anything." %}</p>
        {% endfor %}
    </div>
    <div class="span3">
        <div id="grp-recent-actions-module">
            <h2>{% trans 'Recent Actions' %}</h2>
            <div class="grp-module">
                <h3>{% trans 'My Actions' %}</h3>
                {% get_admin_log 10 as admin_log for_user user %}
                {% if not admin_log %}
                    <p>{% trans 'None available' %}</p>
                {% else %}
                    <ul class="grp-listing-small">
                        {% for entry in admin_log %}
                            <li class="grp-row{% if entry.is_addition %} grp-add-link{% endif %}{% if entry.is_change %} grp-change-link{% endif %}{% if entry.is_deletion %} grp-delete-link{% endif %}">
                                {% if entry.is_deletion %}
                                    <span>{{ entry.object_repr }}</span>
                                {% else %}
                                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                                {% endif %}
                                <span class="grp-font-color-quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
